<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header">
      Alterar <small>Equipamento</small>
    </h1>
  </div>
</div>

<% if flash[:error] %>
  <div class="alert hidden-print alert-danger alert-dismissable">
    <% flash[:error].each do |msg| %>
      <p><i class="fa fa-warning"></i>  <%= msg %></p>
    <% end %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="alert hidden-print alert-success fade in out">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <i class="fa fa-check-circle"></i> <%= flash[:notice] %>
  </div>
<% end %>

<%= form_for @equipment, url: {action: "update"} do |f| %>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label>Descrição*</label>
        <%= f.text_field :description, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
        <div class="form-group">
        <label>Modelo</label>
        <%= f.text_field :model, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label>Marca*</label>
        <%= f.collection_select(:brand_id, Brand.all, :id, :name, {:include_blank => "Selecione uma Marca"}, {class: "form-control"}) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.submit "Alterar", class: "btn btn-success" %>
        <%= link_to 'Cancelar', equipments_path, class: "btn btn-secondary" %>
        <% if @equipment.visible %>
          <%= link_to @equipment, method: :delete, class: "btn btn-default pull-right", data: { confirm: 'Ocultar esse equipamento?' } do %>
            <i class="fa fa-eye-slash"></i>
          <% end %>
        <% else %>
          <%= link_to @equipment, method: :delete, class: "btn btn-default pull-right", data: { confirm: 'Mostrar esse equipamento?' } do %>
            <i class="fa fa-eye"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>
