<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Alterar <small>OS</small>
    </h1>
  </div>
</div>

<% if @order.errors.full_messages.any? %>
  <div class="alert alert-danger alert-dismissable">
    <% @order.errors.full_messages.each do |msg| %>
      <p><i class="fa fa-warning"></i>  <%= msg %></p>
    <% end %>
  </div>
<% end %>

<%= form_for @order, url: {action: "update"} do |f| %>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label>Cliente*</label>
        <br>
        <%= f.collection_select(:customer_id, Customer.all, :id, :full_name, {:include_blank => "Selecione um Cliente"}) %>
      </div>
    </div>
    <div class="col-xs-6 text-right">
      <div class="form-group">
        <label>Status</label>
        <%= f.select(:status, Order.status_attributes_for_select) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label>Equipamento*</label>
        <br>
        <%= f.collection_select(:equipment_id, Equipment.all, :id, :specs, {:include_blank => "Selecione um Equipamento"}) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
        <div class="form-group <%= 'has-error has-feedback' if @order.errors[:defect].present? %>">
        <label>Defeito*</label>
        <%= f.text_field :defect, class: "form-control" %>
        <% if @order.errors[:defect].present? %>
          <span class="form-control-feedback">
            <i class="fa fa-warning"></i>
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
        <div class="form-group <%= 'has-error has-feedback' if @order.errors[:serial_number].present? %>">
        <label>Número Serial</label>
        <%= f.text_field :serial_number, class: "form-control" %>
        <% if @order.errors[:serial_number].present? %>
          <span class="form-control-feedback">
            <i class="fa fa-warning"></i>
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
        <div class="form-group <%= 'has-error has-feedback' if @order.errors[:observation].present? %>">
        <label>Observação</label>
        <%= f.text_area :observation, class: "form-control" %>
        <% if @order.errors[:observation].present? %>
          <span class="form-control-feedback">
            <i class="fa fa-warning"></i>
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <%= f.submit "Alterar", class: "btn btn-success" %>
        <%= link_to 'Cancelar', orders_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>

<% end %>
