<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header m-t-8 hidden-print">
      Consultar <small>OS </small>
      <small class="pull-right m-t-15">
        <%= @order.id %>
      </small>
    </h1>
    <h4 class="page-header m-t-8 visible-print">
      Ordem de Serviço
      <span class="pull-right">
        Número <%= @order.id %>
      </span>
    </h4>
  </div>
</div>

<% if flash[:error] %>
  <div class="alert hidden-print alert-danger alert-dismissable">
    <% flash[:error].each do |msg| %>
      <p><i class="fa fa-warning"></i>  <%= msg %></p>
    <% end %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="alert hidden-print alert-success fade in out">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <i class="fa fa-check-circle"></i> <%= flash[:notice] %>
  </div>
<% end %>

<%= form_for @order, url: {action: "update"} do |f| %>

  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label>Cliente</label>
            <br>
            <%= Customer.find(@order.customer_id).full_name %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label>Equipamento</label>
            <br>
            <%= Equipment.find(@order.equipment_id).specs %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label>Defeito*</label>
            <%= f.text_field :defect, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label>Número Serial</label>
            <%= f.text_field :serial_number, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label>Observação</label>
            <%= f.text_area :observation, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="row">
        <div class="col-xs-4">
          <h3 class="m-t-5">Status</h3>
        </div>
        <div class="col-xs-8 text-right">

          <% if @order.status != 'cancelled' && @order.status != 'closed' %>
            <div class="form-group hidden-print">
              <%= f.select(:status, @available_statuses) %>
            </div>
          <% end %>

          <div class="p-r-10 f-700">
            <% if @order.status == 'closed' %>
              OS Fechada <i class="fa fa-check c-green"></i>
            <% end %>
            <% if @order.status == 'cancelled' %>
              <span class="c-red">OS Cancelada</span>
            <% end %>
          </div>

        </div>
      </div>
      <ul class="list-group">
        <% if @order.created_at.present? %>
          <li class="list-group-item">Aberta em <span class="badge"><%= @order.created_at.strftime("%d/%m/%Y às %H:%M") %></span></li>
        <% end %>
        <% if @order.in_progress_at.present? %>
          <li class="list-group-item">Em progresso em <span class="badge"><%= @order.in_progress_at.strftime("%d/%m/%Y às %H:%M") %></span></li>
        <% end %>
        <% if @order.done_at.present? %>
          <li class="list-group-item">Concluída em <span class="badge"><%= @order.done_at.strftime("%d/%m/%Y às %H:%M") %></span></li>
        <% end %>
        <% if @order.delivered_at.present? %>
          <li class="list-group-item">Entregue em <span class="badge"><%= @order.delivered_at.strftime("%d/%m/%Y às %H:%M") %></span></li>
        <% end %>
        <% if @order.closed_at.present? %>
          <li class="list-group-item list-group-item-success">Fechada em <span class="badge"><%= @order.closed_at.strftime("%d/%m/%Y às %H:%M") %></span></li>
        <% end %>
        <% if @order.cancelled_at.present? %>
          <li class="list-group-item list-group-item-danger">Cancelada em <span class="badge"><%= @order.cancelled_at.strftime("%d/%m/%Y às %H:%M") %></span></li>
        <% end %>
      </ul>
      <div class="row">
        <div class="col-xs-4 pull-right">
          <% if @order.status != 'opened' && @order.status != 'cancelled' %>
            <div class="form-group">
              <label>Valor (R$)*</label>
              <%= f.text_field :value, class: "form-control money-bank" %>
            </div>
          <% end %>
          <% if @order.status == 'opened'%>
            <div class="form-group visible-print">
              <label>Valor (R$)</label>
              <input type="text" class="form-control">
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <div class="row hidden-print">
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.submit "Alterar", class: "btn btn-success" %>
        <%= link_to 'Cancelar', orders_path, class: "btn btn-secondary" %>
        <button class="btn btn-primary pull-right" ng-click="print();">
          Etiqueta <i class="fa fa-print"></i>
        </button>
      </div>
    </div>
  </div>

<% end %>

<script type="text/javascript">

  $('input.money-bank').on('keydown',function(e){
    // tab, esc, enter
    if ($.inArray(e.keyCode, [9, 27, 13]) !== -1 ||
        // Ctrl+A
        (e.keyCode == 65 && e.ctrlKey === true) ||
        // home, end, left, right, down, up
        (e.keyCode >= 35 && e.keyCode <= 40)) {
        return;
    }

    e.preventDefault();

    // backspace & del
    if($.inArray(e.keyCode,[8,46]) !== -1){
        $(this).val('');
        return;
    }

    var a = ["a","b","c","d","e","f","g","h","i","`"];
    var n = ["1","2","3","4","5","6","7","8","9","0"];

    var value = $(this).val();
    var clean = value.replace(/\./g,'').replace(/,/g,'').replace(/^0+/, '');

    var charCode = String.fromCharCode(e.keyCode);
    var p = $.inArray(charCode,a);

    if(p !== -1)
    {
        value = clean + n[p];

        if(value.length == 2) value = '0' + value;
        if(value.length == 1) value = '00' + value;

        var formatted = '';
        for(var i=0;i<value.length;i++)
        {
            var sep = '';
            if(i == 2) sep = ',';
            if(i > 3 && (i+1) % 3 == 0) sep = '.';
            formatted = value.substring(value.length-1-i,value.length-i) + sep + formatted;
        }

        $(this).val(formatted);
    }

    return;
  });
</script>
