<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header">
      Consultar <small>OS </small>
      <small class="pull-right m-t-15">
        <%= @order.id %>
      </small>
    </h1>
  </div>
</div>

<% if @order.errors.full_messages.any? %>
  <div class="alert alert-danger alert-dismissable">
    <% @order.errors.full_messages.each do |msg| %>
      <p><i class="fa fa-warning"></i>  <%= msg %></p>
    <% end %>
  </div>
<% end %>

<%= form_for @order, url: {action: "update"} do |f| %>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label>Cliente</label>
        <br>
        <%= Customer.find(@order.customer_id).full_name %>
      </div>
    </div>

    <div class="col-xs-6 text-right">
      <% if @order.status != 'cancelled' && @order.status != 'closed' %>
        <div class="form-group">
          <label>Status</label>
          <%= f.select(:status, @available_statuses) %>
        </div>
      <% end %>
      <div class="p-r-10 f-700">
        <% if @order.status == 'closed' %>
          OS Fechada <i class="fa fa-check c-green"></i>
        <% end %>
        <% if @order.status == 'cancelled' %>
          <span class="c-red">OS Cancelada</span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label>Equipamento</label>
        <br>
        <%= Equipment.find(@order.equipment_id).specs %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
        <div class="form-group <%= 'has-error has-feedback' if @order.errors[:defect].present? %>">
        <label>Defeito*</label>
        <%= f.text_field :defect, class: "form-control" %>
        <% if @order.errors[:defect].present? %>
          <span class="form-control-feedback">
            <i class="fa fa-warning"></i>
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
        <div class="form-group <%= 'has-error has-feedback' if @order.errors[:serial_number].present? %>">
        <label>Número Serial</label>
        <%= f.text_field :serial_number, class: "form-control" %>
        <% if @order.errors[:serial_number].present? %>
          <span class="form-control-feedback">
            <i class="fa fa-warning"></i>
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
        <div class="form-group <%= 'has-error has-feedback' if @order.errors[:observation].present? %>">
        <label>Observação</label>
        <%= f.text_area :observation, class: "form-control" %>
        <% if @order.errors[:observation].present? %>
          <span class="form-control-feedback">
            <i class="fa fa-warning"></i>
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.submit "Alterar", class: "btn btn-success" %>
        <%= link_to 'Cancelar', orders_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>

<% end %>
