<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header m-t-8">
      Alterar <small>Marca</small>
    </h1>
  </div>
</div>

<% if flash[:error] %>
  <div class="alert hidden-print alert-danger alert-dismissable">
    <% flash[:error].each do |msg| %>
      <p><i class="fa fa-warning"></i>  <%= msg %></p>
    <% end %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="alert hidden-print alert-success fade in out">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <i class="fa fa-check-circle"></i> <%= flash[:notice] %>
  </div>
<% end %>

<%= form_for @brand, url: {action: "update"} do |f| %>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group <%= 'has-error has-feedback' if @brand.errors[:name].present? %>">
        <label>Nome*</label>
        <%= f.text_field :name, class: "form-control" %>
        <% if @brand.errors[:name].present? %>
          <span class="form-control-feedback">
            <i class="fa fa-warning"></i>
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <% if @brand.visible %>
          <%= link_to @brand, method: :delete, class: "btn btn-default", data: { confirm: 'Ocultar essa marca?' } do %>
            <i class="fa fa-eye-slash"></i>
          <% end %>
        <% else %>
          <%= link_to @brand, method: :delete, class: "btn btn-default", data: { confirm: 'Mostrar essa marca?' } do %>
            <i class="fa fa-eye"></i>
          <% end %>
        <% end %>
        <%= f.submit "Alterar", class: "btn btn-success pull-right" %>
        <%= link_to 'Cancelar', brands_path, class: "btn btn-secondary pull-right" %>
      </div>
    </div>
  </div>

<% end %>
