<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header">
      Nova <small>Marca</small>
    </h1>
  </div>
</div>

<% if flash[:error] %>
  <div class="alert hidden-print alert-danger alert-dismissable">
    <% flash[:error].each do |msg| %>
      <p><i class="fa fa-warning"></i>  <%= msg %></p>
    <% end %>
  </div>
<% end %>

<%= form_for @brand, url: {action: "create"} do |f| %>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group <%= 'has-error has-feedback' if @brand.errors[:name].present? %>">
        <label>Nome*</label>
        <%= f.text_field :name, class: "form-control" %>
        <% if @brand.errors[:name].present? %>
          <span class="form-control-feedback">
            <i class="fa fa-warning"></i>
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.submit "Criar", class: "btn btn-success" %>
        <%= link_to 'Cancelar', brands_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>

<% end %>
