<!DOCTYPE html>
<html>
  <head>
    <title>Azordens</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/assets/angular-i18n/angular-locale_pt-br.js"></script>
  </head>

  <body class="sessions" ng-controller="MainCtrl">

    <div class="container">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4 bgm-white p-30">
          <%= image_tag 'logo.png', class: 'img-responsive' %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-4">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>

</html>
